.sectionSplit {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: solid 1px #ffffff69;
    border-bottom: solid 1px #ffffff69;
    padding: 11em 0;
}

.sectionSplit:nth-child(1) {
    background: linear-gradient(45deg, #161824, #714a9e59);
}


