:root {
/* Background-Color */
    --c-primary-color: #193137e0;
    --c-element: #222;
    --c-seconday-color:#07ffc6;
    --c-status: #E1EDED;
/* Border-radius */
    --b-border-basic:16px;
    --b-border-full:60px;

/* Projects */
    --c-fitness-area:#FF693A;
}