h1 {
    font-size: 61px;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #E1EDED;
  color: #50A0AB;
  border-radius: 90px;
  width: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.roundStatus {
    background: #50A0AB;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(80, 160, 171, 0.7);
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(80, 160, 171, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(80, 160, 171, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(80, 160, 171, 0);
  }
}

.cv{
    background: black;
    color: #fff;
    padding: 1em;
    border-radius: 44px;
    width: 9em;
    transition: .3s;
}

.cv:hover {
    background: #65e1c4;
}

.cv i {
    margin-right: 10px;
}

.right-side-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1em;
    width: 37em;
}

.left-side-header {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.fitness-area-cover {
    background: rgb(255, 255, 255);
    padding: 1em;
    width: 16em;
    height: 16em;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fitness-area-cover p {
    font-weight: 800;
}

.title span {
    opacity: 0.4;
}

.right-side-header img {
    width: 18em;
    border-radius: 20px;
}



.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
    padding: 8em 2em;
}

.ticket {
    padding: 8px 15px;
    border-radius: 84px;
    background: #a4acac;
}

.both {
    display: flex;
    flex-direction: column;
    width: 10em;
    text-align: center;
    gap: 6px;
}

.both span {
    background: #EEF7FF;
    cursor: context-menu;
    text-align: justify;
}

.both span i {
    margin-right: 13px;
}

.both a {
    background: #a4acac3d;
}

.bloc-top, .bloc-bottom {
    display: flex;
    gap: 1em;
}

.bloc-top {
    gap: 1em;
}

.bloc-left {
    flex: 1;
    background: linear-gradient(45deg, #5bdabd, #93ffe6);
    border-radius: 15px;
    color: #0f4b3e;
    padding: 2em;
}

.bloc-right {
    flex: 0;
}

.bloc-right i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background: #fff;
    border-radius: 50%;
    margin: 6px 0;
    font-size: 1.2em; 
}