@import url("../../styles/variables.css");

nav {
  background: var(--primary-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn {
  display: flex;
  align-items: center;
}

.btn-status .btn {
  background-color: var(--secondary-color);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav a {
  margin: 0 2em;
}

#contact {
  background: var(--cta-color);
  padding: 1em;
}
