.navbar {
  background-color: #222;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0 1em;
  justify-content: end;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-item a:hover {
  color: #61dafb;
}

.navbar-item.cta {
  background: #fff;
  padding: 6px 25px 6px 6px;
  border-radius: 70px;
}

.navbar-item.cta a {
  color: #222;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cta-icon {
  background: #222;
  width: 40px;
  height: 40px;
  border-radius: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-icon i {
  color: #fffffff2;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-item.cta:hover i{
  transform: rotate(20deg);
}
