@import url("../../styles/variables.css");
.blocFormation {
    background: url("../../assets/nexa.webp");
    background-size: cover;
    margin: 1em;
    padding: 1em;
    border-radius: var( --border-radius-middle);
    width: 17em;
}

.formationContainer {
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.formationContainer a{
    background: var(--secondary-color);
    padding: 7px 18px;
    border-radius: 80px;
    text-transform: uppercase;
    font-weight: 700;
}

.topLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topLeft h2 {
    font-size: 14px;
}

.topLeft img {
    width: 3em;
    border-radius: 80px;
}
